<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>
  </head>

  <body>
    <h1>My Movie</h1>
    <div id="movie">
      <h1>Counter</h1>
      <p>{{count}}</p>
      <button v-on:click="incrementCounter">Increment Count</button>
      <div>
        <p>{{incrementAmount}}</p>
        <label>Increment by:</label>
        <input type="number" 
        v-bind:value="incrementAmount",
        v-on:input="changeIncrementAmount"
        />
      </div>

      <ul v-for="movie in movies">
        <li v-if="(movie.isFavorite)">
          {{ movie.title.toString() }}
          <ul>
            <li>
              <p v-if="movie.cast.length > 0">{{movie.cast.toString()}}</p>
              <p v-else>{{message}}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp } = Vue;

      let count = 0;
      const app = createApp({
        data() {
          return {
            count: 0,
            incrementAmount: 10,
            message: "Not Found",
            movies: [
              {
                title: "blade runner 2049",
                cast: ["Ryan Gosling", "Charlie Puth"],
                isFavorite: true,
              },
              {
                title: "lala land",
                cast: ["Ryan Gosling", "Emma Stone"],
                isFavorite: false,
              },
              { title: "Notebook", cast: [], isFavorite: true },
              { title: "Ben 10", cast: ["Charlie Puth"], isFavorite: false },
              { title: "The Boys", cast: ["heng", "meng"], isFavorite: true },
            ],
            
          }
        },
        methods: {
            changeIncrementAmount(event)
            {
              this.incrementAmount = event.target.value
            },
            incrementCounter()
            {
              this.count += this.incrementAmount
            }
          }
      })

      app.mount("#movie");
    </script>
  </body>
</html>
