<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Handling Exercise</title>
  </head>

  <body>
    <h1>Event Handling Exercise</h1>
    <div id="movie">
      <ul>
        <li v-for="character in characters">
          {{character.name}}
          <button v-on:click="addToFavorite(character.name)">
            Add to Favorite
          </button>
        </li>
      </ul>

      <table style="border-collapse: collapse" , border="2px border">
        <thead>
          <tr>
            <th>Character Name</th>
            <th>Number of Likes</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="character in characters">
            <th>{{character.name}}</th>
            <th>{{character.numberOfLike}}</th>
          </tr>
        </tbody>

        <tfoot>
            <tr>
                <th>The Most Liked Character</th>
                <th>Sok</th>
            </tr>

        </tfoot>
      </table>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp } = Vue;

      let count = 0;
      const app = createApp({
        data() {
          return {
            count: 0,
            incrementAmount: 10,
            message: "Not Found",
            characters: [
              {
                name: "Sok",
                numberOfLike: 0
              },
              {
                name: "Bopha",
                numberOfLike: 0
              },
              {
                name: "Chan",
                numberOfLike: 0
              },
              {
                name: "Neary",
                numberOfLike: 0
              },
              {
                name: "Zed",
                numberOfLike: 0
              },
            ],
            favoriteList: [
                {
                    name: "",
                    numberOfLike: 0
                }
            ]
          };
        },
        computed:{
            mostLikedCharacter(){
                
            }
        },
        methods: {
          addToFavorite(characterName) {
           const character = this.characters.find((c) => c.name === characterName)

           if(character){
            character.numberOfLike++
            this.favoriteList.push(characterName)
           }
          },
        },
      });

      app.mount("#movie");
    </script>
  </body>
</html>
